/* select all <div> node */
/* test */

@font-face {
  font-family: "typo";
  src: url("../assets/fonts/infini-romain.eot");
  src: local("☺"), url("../assets/fonts/infini-romain.woff") format("woff"),
    url("../assets/fonts/infini-romain.ttf") format("truetype"),
    url("../assets/fonts/infini-romain.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "snicker";
  src: url("../assets/Cleaned/snicker-bold.otf");
  font-weight: normal;
  font-style: normal;
}

/* New CSS */
body {
  background-color: rgb(5 172 244);
  display: flex;
  flex-direction: column;
  font-family: "snicker";
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.section {
  margin-bottom: 10rem;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
}

.upperArea {
  flex-direction: column;
}
.lowerArea {
  flex-direction: column;
}
.upperBackground {
  background-image: url("../assets/Cleaned/TiledUpper.png");
  width: 100vw;
  height: 300vh;
  position: absolute;
  z-index: -10;
  background-size: 100vw;
  flex-direction: column;
}
.lowerBackground {
  background-image: url("../assets/Cleaned/TiledLower.png");
  width: 100vw;
  height: 180vh;
  margin-top: -50vh;
  position: absolute;
  z-index: -9;
  background-size: 100vw;
  flex-direction: column;
}
/* MenuSection */
.menuItem {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: x-large;
  z-index: 10;
  cursor: pointer;
}
.menuItem:hover {
  color: rgb(214, 214, 214);
}
.topMenu {
  margin-top: 21rem;
}

.trailer {
  width: 50rem;
  height: 28.125rem;
  padding: 40px;
  background-repeat: no-repeat;
  padding-top: 41px;
  background-size: 67rem;
  background-position: top;
  background-image: url("../assets/Cleaned/TrailerBorder.png");
}

.languageButton {
  position: absolute;
  margin: 10px;
  margin-top: 10px;
  padding: 10px;
  z-index: 10;
  color: white;
}
.languageButton:hover {
  cursor: pointer;
  border: solid darkblue;
  color: darkblue;
}
.topLogo {
  margin: 0;
  height: 50rem;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.logoImg {
  width: 29.5vw;
  height: 11vw;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.topBackgroundImg {
  width: 100vw;
  z-index: -10;
}
.topBackground {
  position: absolute;
}
/* CarouselSection */

.carousel {
  flex-direction: column;
}

.carouselTitle {
  font-size: larger;
  background-position: top;
  color: white;
  background-image: url(../assets/Cleaned/BrushBlack.png);
  background-size: 23rem;
  padding: 40px;
  width: 18rem;
  background-repeat: no-repeat;
  display: flex;
}
.carouselTitleText {
  margin: auto;
  font-size: xx-large;
  margin-top: -0.7rem;
  margin-bottom: -1rem;
}

.carouselItems {
  overflow: scroll;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
}

.carouselItem {
  max-width: 20rem;
  max-height: 20rem;
  margin: 1rem;
}

.arrow {
  max-width: 5rem;
  max-height: 5rem;
  position: absolute;
}

.carouselLeftArrow {
  left: 2rem;
}

.carouselRightArrow {
  right: 2rem;
  rotate: 180deg;
}

/* AboutSection */

#aboutSection {
  background-image: url("../assets/Cleaned/AboutBG.png");
  width: 100vw;
  color: white;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 60vh;
}
.about {
  margin-top: 1rem;
  margin-left: 1rem;
}

.aboutColLeft {
  flex-direction: column;
}
.aboutColRight {
  flex-direction: column;
  position: absolute;
  right: 0px;
}
.aboutSection {
  margin-left: 1rem;
  margin-right: 10rem;
}
.aboutSectionName {
  background-image: url("../assets/Cleaned/BrushPurple.png");
  background-size: 8rem;
  background-position: top;
  background-repeat: no-repeat;
  font-size: x-large;
  font-weight: 900;
  margin-left: 13rem;
  padding: 1rem;
  padding-left: 2rem;
  margin-top: 5rem;
  padding-right: 2rem;
}
.aboutTitle {
  margin-left: 13rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 10rem;
  font-size: xx-large;
  width: 20rem;
  font-weight: 700;
}
.aboutText {
  background-image: url(../assets/Cleaned/DescriptionBG.png);
  color: black;
  margin-left: 10rem;
  width: 30rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 3rem;
  margin-right: -6rem;
  background-size: 35rem;
  background-position: top;
  background-repeat: no-repeat;
  font-size: 0.9rem;
}
.aboutPicture {
  height: 35rem;
  margin-top: -0.5rem;
  margin-right: 1rem;
}
.releaseDateText {
  display: flex;
  margin-top: -0.8rem;
  margin-left: 3.3rem;
  font-size: larger;
}
.releaseDateButton {
  background-image: url(../assets/Cleaned/ReleaseBackground.png);
  background-size: 20rem;
  background-position: top;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 700;
  width: 20em;
  margin-left: 10rem;
  margin-right: auto;
  cursor: pointer;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 21rem;
}
.releaseDateButton:hover {
  color: #37376a; /* Green */
}

/* CharaSection */
.charaSectionTitle {
  font-size: xx-large;
  font-weight: 700;
  color: white;
  margin-bottom: 10rem;
  background-image: url(../assets/Cleaned/CharaTitleBG.png);
  background-size: 31rem;
  background-position: top;
  padding-top: 3.6rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-repeat: no-repeat;
}
.characters {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.characterBloc {
  flex-direction: row;
  max-width: 40rem;
}
.charaColLeft {
  flex-direction: column;
}

.charaColRight {
  flex-direction: column;
}

.leftArrowChara {
  left: 2rem;
}

.rightArrowChara {
  right: 2rem;
  rotate: 180deg;
}

.charaPicture {
  width: 15rem;
  height: 20rem;
  margin-right: 2rem;
}

.characterName {
  font-size: x-large;
  font-weight: 700;
  margin-top: 2rem;
  margin-left: 1rem;
}
.characterPowerName {
  font-size: large;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.characterDescription {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.characterPowerName {
  font-size: large;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.characterSkillsSectionTitle {
  font-size: large;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.characterSkillsSection {
  margin-left: 2rem;
  flex-direction: column;
}

.characterOffensivePowerSection {
  flex-direction: row;
  margin: 0;
  margin-bottom: 1rem;
}

.characterDefensivePowerSection {
  flex-direction: row;
  margin: 0;
}

.characterPowerPicture {
  width: 5rem;
  height: 6rem;
  margin-right: 2rem;
}

.characterPowerDescription {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.wishlistButton {
  background-image: url(../assets/Cleaned/WishlistButton.png);
  background-size: 50vw;
  position: absolute;
  background-position: top;
  width: 50vw;
  right: 0px;
  background-repeat: no-repeat;
  height: 21.1rem;
  margin-right: 0rem;
  margin-top: 49rem;
  z-index: 1;
}
.wishlistButton:hover {
  cursor: pointer;
}

.wishlistText {
  margin: auto;
  font-size: xx-large;
  font-weight: 900;
}

/* NewsSection */
#newsSection {
  background-image: url(../assets/Cleaned/NewsBG.png);
  background-size: 100vw;
  margin: 0;
  height: 17vw;
  z-index: 2;
  width: 100vw;
  color: white;
  flex-direction: row;
  background-repeat: no-repeat;
}

.newsCol {
  flex-direction: column;
}
.subCol {
  flex-direction: column;
}

.newsTitle {
  background-image: url(../assets/Cleaned/BrushWhite.png);
  background-size: 22rem;
  background-position: top;
  background-repeat: no-repeat;
  font-size: xx-large;
  color: black;
  font-weight: 900;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 8rem;
  margin-top: 2rem;
}
.newsDescription {
  margin-left: 10rem;
  max-width: 60%;
}
.newsInput {
  margin: 1rem;
  background-color: transparent;
  border: none;
  color: black;
  width: 20rem;
  cursor: pointer;
}
.newsInput:focus {
  outline: none;
}
.newsSubButton {
  background-color: black;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  width: 15rem;
  cursor: pointer;
}
.newsSubArea {
  /* background-color: #ffffff; */
  margin: auto;
  margin-right: 4rem;
  margin-bottom: 0rem;
  color: black;
  width: 30rem;
  cursor: pointer;
}
.newsSubArea:hover {
  /* background-color: #e1e1e1; */
}
.newsCheckboxArea {
  margin: auto;
  margin-top: 0rem;
  margin-right: 23rem;
  width: 100%;
}
.newsSubButton {
  margin: auto;
  margin-right: 1rem;
  font-size: large;
  font-weight: bold;
}
.newsCheckboxDesc {
  margin-left: 0;
}
/* FooterSection */
#footerSection {
  padding-top: 2rem;
  background-color: white;
  padding-bottom: 2rem;
  width: 100vw;
  flex-direction: row;
  margin-bottom: 0;
  height: 10vh;
}
.footer {
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
}
.footerStudio {
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
  position: absolute;
  right: 30vw;
}
.footerStudioTitle {
  font-size: large;
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 0.5rem;
}
.footerStudioWebsite {
  text-decoration: none;
  color: black;
}

.footerStudioEmail {
  text-decoration: none;
  color: black;
}

.footerLogo {
  width: 15rem;
  position: absolute;
  left: 10vw;
}
.footerSocials {
  margin-left: 2rem;
  margin-right: 1rem;
  flex-direction: column;
  position: absolute;
  right: 0px;
}
.footerSocialTitle {
  font-size: large;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.footerSocialIcons {
  flex-direction: row;
}
.footerSocial {
  margin-left: 1rem;
  width: 2rem;
  width: 2rem;
}

/* PICTO CAROUSEL */

#container {
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  box-sizing: border-box;
}

#galleryContainer {
  height: 25rem;
  width: 80rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#galleryView {
  height: 20rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainView {
  height: 28rem;
  width: 48rem;
  border-radius: 5px;
  background-color: #eb9100;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView:hover {
  transform: scale(1.1);
  transition: all 1s;
}

#leftView {
  height: 20rem;
  width: 10rem;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 20rem;
  width: 10rem;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

/* CHARA CAROUSEL */

#container2 {
  height: 20rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20rem;
}

#galleryContainer2 {
  height: 25rem;
  width: 80rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#galleryView2 {
  height: 20rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainView2 {
  height: 36.36rem;
  width: 50rem;
  border-radius: 5px;
  background-color: #eb9100;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView2:hover {
  transform: scale(1.1);
  transition: all 1s;
}

#leftView2 {
  height: 20rem;
  width: 10rem;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView2:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView2 {
  height: 20rem;
  width: 10rem;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView2:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns2:hover {
  opacity: 1;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft2 {
  left: 50px;
}

#navRight2 {
  right: 50px;
}

#linkTag2 {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

@media (max-width: 1340px) {
  .aboutPicture {
    height: 28rem;
  }
  #aboutSection {
    height: 40vh;
  }
  .wishlistButton {
    margin-top: 51rem;
  }
}
@media (max-width: 1140px) {
  .topMenu {
    margin-top: 10rem;
  }
  #aboutSection {
    height: 30vh;
  }
  .aboutPicture {
    height: 23rem;
  }
  .releaseDateButton {
    margin-top: 15rem;
    margin-left: 4rem;
  }
  .aboutText {
    margin-left: 4rem;
  }
  .aboutTitle {
    margin-left: 5rem;
    margin-top: -0.5rem;
    margin-bottom: 0rem;
  }
  .aboutSectionName {
    margin-left: 8rem;
    margin-top: 1rem;
  }
  .lowerBackground {
    margin-top: -20vh;
    height: 150vh;
  }
  .upperBackground {
    height: 200vh;
  }
  .wishlistButton {
    margin-top: 54.1rem;
  }
  .newsTitle {
    font-size: large;
    background-size: 15em;
  }
  .newsDescription {
    font-size: small;
  }
}
@media (max-width: 980px) {
  .lowerBackground {
    margin-top: -20vh;
    height: 86vh;
  }
}
